a2wsgi==1.10.10
adbc_driver_manager==1.12.0
adbc_driver_postgresql==1.12.0
adbc_driver_sqlite==1.12.0
anywidget==0.11.0
AppKit==0.2.8
atheris==3.1.0
authlib==1.8.0
backports.statistics==0.1.0
beautifulsoup4==4.15.0
botocore==1.43.103
brotli==1.2.0
brotlicffi==1.2.0.2
chardet==7.6.0
checks==0.2
choreographer==1.4.0
cryptography==50.0.1
cudf==0.6.1.post1
cupy==14.2.0
cycler==0.12.1
Cython==3.3.0
dask==2026.8.0
dask_expr==2.0.0
defusedxml==0.7.1
duckdb==1.5.5
exceptiongroup==1.3.1
fastparquet==2026.9.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2026.9.0
geopandas==1.1.4
google_benchmark==1.9.5
graphviz==0.21
gunicorn==26.2.0
h2==4.4.1
httpx==0.28.1
httpx2==2.13.1
huggingface_hub==2.0.0
hypothesis==6.168.1
ibis==3.3.0
importlib_resources==7.1.0
ipython==8.12.3
ipywidgets==8.1.9
isoduration==20.11.0
joserfc==1.7.5
JPype1==1.7.1
jsonpath_ng==1.8.0
jsonpointer==3.1.1
lxml==6.1.3
matplotlib==3.11.2
modin==0.37.1
mtrand==0.1
mypy==2.3.1
numexpr==2.14.2
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
outcome==1.3.0.post0
polars==1.44.2
polars_st==0.9.0
psutil==7.2.2
PyInstaller==6.22.3
pyodide==0.0.2
pyOpenSSL==26.4.0
pyperf==2.10.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.11.0
PySide6==6.11.2
pyspark==4.2.0
pytest==9.1.1
pytest_run_parallel==0.10.0
python-dotenv==1.2.3
python_calamine==0.8.2
python_socks==3.1.1
pytz==2026.4
pyxlsb==1.0.10
PyYAML==6.0.3
qtpy==2.4.3
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
rich==15.0.0
s3fs==2026.9.0
scipy==1.18.1
scipy_doctest==2.2.0
setuptools==84.0.0
setuptools_scm==10.3.4
simplejson==4.1.2
skimage==0.0
sniffio==1.3.1
snowflake==1.13.2
speedups==2.3.3
Sphinx==9.1.0
SQLAlchemy==2.1.1
sqlframe==4.4.0
sqlparse==0.6.0
statsmodels==0.15.0
streamlit_pdf==2.0.1
sympy==1.14.0
tables==3.11.1
threadpoolctl==3.7.0
traitlets==5.16.1
trio==0.34.0
tzdata==2026.4
uri_template==1.3.0
url_parser==3.0.3
vega_datasets==0.9.0
vegafusion==2.0.3
vincent==0.4.4
watchfiles==1.3.0
webcolors==25.10.0
Werkzeug==3.1.8
winloop==0.6.4
wsproto==1.3.2
xarray==2026.7.0
xlrd==2.0.2
xlsxwriter==3.2.9
yfinance==1.7.0
zttp==0.0.34
